@use 'variaveis';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($font-size: 40px) {
    @include text($font-size);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(14px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(48px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}